<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Rewrite all routes to index.html for Angular/React routing -->
    <rewrite>
      <rules>
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Optional: Remove specific handlers you don't use -->
    <handlers>
      <remove name="PythonFastCGI" />
      <remove name="kiosk" />
    </handlers>
  </system.webServer>
</configuration>
